################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ObligatorioDiseño2.0/ObligatorioDise-o-master
/ObligatorioDiseño2.0.zip
