span {
    position: relative;
}

span img {
    border-radius: 25px; 
    position: absolute; 
    top: 3px; 
    left: 2px;
}

span input {
    color: grey; 
    border-radius: 25px; 
    border: 2px solid black; 
    text-align: center; 
    padding-left:0px;
}