body {
    background-color: #070d59;
    color: #ceddef;
    
}

main{
    clear: both;
}

a:link {
    background-color: #5893d4;
    color: #ceddef;
    padding: 5px;
    border-color: #ceddef;
    border-radius: 5px;
    text-decoration: none;
}

a:visited {
    background-color: #5893d4;
    color: #ceddef;
    padding: 5px;
    border-color: #ceddef;
    border-radius: 5px;
    text-decoration: none;
}

a:hover {
    background-color: #7cb9fa;
    color: #ceddef;
    padding: 5px;
    border-color: #ceddef;
    border-radius: 5px;
    text-decoration: none;
}

button:hover {
    background-color: #5893d4;
}

article{
    margin-left:200px;
    margin-bottom:50px;
    clear:both;
    overflow:visible;
    display:inline-block;
    width:auto;
    height:auto;
    float right;
}
#eventNav{
    display:inline-block;
    height:auto;
    width:auto;
}
#middleArticle{
    width:auto;
    height:500px;
}
ul{
    list-style-type:none;
}
footer{
    background-color: #1f3c88;
    height:100px;
    width: 1900px;
}
header{
    display:inline-block;
    background-color: #1f3c88;
    width:1900px;
    height:100px;
}
section,aside, span{
    display:inline-block;
}

#evento {
    margin-left:400px;
}

#eventAside {
    height: 700px;
    width: 200px;
    float: left;
    position: absolute;
    background-color: #5893d4;
}

#indexAside{
    height:1820px;
    width:400px;
    float:left;
    position:absolute;
    background-color: #5893d4;
}
.searchBar {
    position:absolute
}

.searchBar, img {
    border-radius: 25px; 
    position: absolute; 
    top: 3px; 
    left: 2px;
}


.inputForm{
    display:block;
}

.searchBar, input {
    color: azure;
    background-color: rgb(30, 73, 192);
    border-radius: 25px; 
    border: 2px solid azure; 
    text-align: center; 
    padding: 5px;
}
#span1{
    width:auto;
    height:180px;
    float:left;
    margin-left:200px;
}
.indexForm {
    width: auto;
    height: 180px;
    margin-left:200px;
    float: right;
}
.labelForm, checkbox{
    display:block;
}
form {
    display: inline-block;
    position: relative;
}

#upLinksRight{
    float:right;
    position:relative;
    display:inline-block;
}
#upLinksLeft {
    float: left;
    position:relative;
    display: inline-block;
    margin-left:400px;
}
#upLinksRight:hover {
    float: right;
    position: relative;
    display: inline-block;
    text-shadow: 2px 2px;
    background-color:darkcyan;
}

#upLinksLeft:hover {
    float: left;
    position: relative;
    display: inline-block;
    margin-left: 400px;
    text-shadow: 2px 2px;
    background-color:darkcyan;
}

#ulIndex:nth-child(){
    white-space:pre-line;
}

img{
    position:relative;
}
.eventsSpan {
    position: relative;
    display: inline-block;
    height: 300px;
    width: 300px;
}
.hrefSeeMore{
    text-align:right;
    float:right;
    width:60px;
    position:relative;
}
.seeMore {
    background-color: rgb(35, 58, 82);
    display: inline-block;
    height: auto;
    width: 800px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.liIndex{
    margin-top:70px;
    margin-bottom:70px;
}
.bottomSection {
    background-color: rgb(35, 58, 82);
    height: 50px;
    width: 1100px;
    display:inline-block;
    overflow:auto;
    clear:both;
}