article{
    margin-left:200px;
    margin-bottom:50px;
    display:inline-block;
    width:auto;
    height:auto;
}
#bottomArticle{
    width:1800px;
    height:500px;
}
ul{
    list-style-type:none;
}
footer{
    background-color:black;
    height:100px;
    width: 1900px;
}
header{
    display:inline-block;
    width:1900px;
    height:100px;
}
section,aside, span{
    display:inline-block;
}
aside{
    height:1820px;
    width:400px;
    float:right;
    position:absolute;
    background-color:lightgrey;
}
.searchBar {
    position:absolute
}

.searchBar, img {
    border-radius: 25px; 
    position: absolute; 
    top: 3px; 
    left: 2px;
}


.inputForm{
    display:block;
}

.searchBar, input {
    color: grey; 
    border-radius: 25px; 
    border: 2px solid black; 
    text-align: center; 
    padding-left:0px;
}
#span1{
    width:750px;
    height:180px;
    float:left;
    margin-left:200px;
}
.labelForm, checkbox{
    display:block;
}
form {
    display: inline-block;
    position: relative;
}
.indexForm { 
    width: auto;
    height: 180px;
    float: right;
}
#upLinksRight{
    float:right;
    position:relative;
    display:inline-block;
}
#upLinksLeft {
    float: left;
    position:relative;
    display: inline-block;
    margin-left:400px;
}
#upLinksRight:hover {
    float: right;
    position: relative;
    display: inline-block;
    text-shadow: 2px 2px;
    background-color:gray;
}

#upLinksLeft:hover {
    float: left;
    position: relative;
    display: inline-block;
    margin-left: 400px;
    text-shadow: 2px 2px;
    background-color:gray;
}
checkbox{
    
}
img{
    position:relative;
}
.eventsSection {
    position: relative;
    display: inline-block;
    height: 320px;
    width: 400px;
}
.hrefSeeMore{
    text-align:right;
    float:right;
    width:60px;
    position:relative;
}
.seeMore {
    background-color: lightslategrey;
    display: inline-block;
    height: 50px;
    width: 1100px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.liIndex{
    margin-top:70px;
    margin-bottom:70px;
}
.bottomSection {
    background-color: lightslategrey;
    height: 50px;
    width: 1100px;
}